{% extends 'base.html' %}


{% block css %}

#user_form{
	margin-top:70px;
}
#login_form{
    margin-top:70px;
}

{% endblock css %}

{% block headline %}
{% endblock headline %}




{% block content %}



        <form id="login_form" method="post" action="/loger/">
         <h1>Login to Bookstown</h1>
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
		</form>


<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
Not a member?
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{user_form.as_p}}

<input type="submit" name="submit" value="Register" class="btn btn-default" />
</form>

      </div>
    </div>
  </div>
</div>



{% endblock content %}